.Container{
    background-color: rgb(7, 1, 18);
}

.linksContainer {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;

}

.activeLink {
    text-decoration: none;
    color:rgb(204, 218, 231);
    font-weight: bold;
    font-size: 30px;

}

.normalLink {
    color: rgb(184, 170, 223);
    font-size: 25px;
}


@media screen and (max-width: 767px) {
.linksContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
    }
.activeLink, .normalLink {
    margin: 30px 0px;
    font-size: 35px;
    }
}
