.NavLink {
    text-decoration: none;
}
.cardcontainer{
    background-color: rgba(242, 32, 203, 0.306);
    border: 1px solid rgb(114, 15, 195);
    margin: 10px;
    width: 250px;
    height: 280px;
    border-radius: 5%;
    color:rgb(224, 235, 244);
    cursor: pointer;
}

.image{
    width: 100%;
    height: 150px;
    border-radius: 8px 8px 0px 0px;
}

.title {
    margin: 15px; 
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    text-align: center;
    font-family: 'Open Sans'
}

.rating {
    font-size: 15px;
    margin: 4px;
    text-align: center;
    font-family: 'Open Sans';
    background-color: rgba(243, 250, 24, 0.742);
    color: rgb(1, 11, 20);
}

.genres {
    margin: 5px 5px 0px 5px;
    font-size: 18px;
    text-align: center;
    font-family: 'Open Sans'
}