.NavLink {
    text-decoration: none;
}
.cardcontainer{
    display: flex; /* contenedores se muevan libre en area*/
    flex-direction: column; /* Separe y ponga en linea*/
    background-color: rgba(236, 148, 239, 0.642);
    border: 5px solid rgb(121, 22, 203);
    border-radius: 10px;
    padding: 15px;/* Espacio interior margen interno*/
    cursor: pointer;
}
.card-container:hover{
    transform: scale(1.05);/* Cuando se pase cursor que se agrande */
}

.image{
    width: 170px;
    height: 160px;
    border-radius: 8px 8px 0px 0px;
}

.title {
    /* height: 35px; */
    margin: 10px; 
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.genres {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: #000000;
}