.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
  }
  
  .searchbarContainer {
    display: flex;
    direction: row;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(242, 32, 204, 0.455);
    border: 1px solid var(--mygrey4);
    color: white;
  }
  
  .searchInput {
    width: 320px;
    border-radius: 5px;
    background-color: transparent;
    border: transparent;
    color: rgb(233, 242, 243);
    font-size: 18px;
  }
  
  .searchInput::placeholder {
    color: var(--mygrey4);
  }
  
  .searchInput:hover::placeholder {
    color: var(--mylightblue);
  }
  
  .searchInput:hover {
    box-shadow: 0 0 5px var(--mylightblue2);
  }
  
  .searSubmitButton{
    font-size: 17px;
    height: 32px;
    width: 75px;
    background-color:rgb(242, 235, 18);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .searchSubmitButton:hover {
    background-color: var(--mygray4);
    background-color: var(--mylightblue2);
  }

  .filtersAndSortsContainer {
    display: flex;
    flex-direction: row;
    height: 30px;
    border-radius: 5px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
  }
  
  .creatorSelect,
  .genreSelect,
  .sortSelect,
  .resetButton {
    width: 150px;
    background-color:  rgb(111, 64, 190);
    border: 1px solid var(--mygrey4);
    color:aliceblue;
    height: 100%;
    border-radius: 10px;
    margin: 5px;
    font-size: 18px;
  }
  
  .creatorSelect:hover,
  .genreSelect:hover,
  .sortSelect:hover {
    color: var(--mylightblue);
    box-shadow: 0 0 5px var(--mylightblue2);
  }
  
  .resetButton:hover {
    color: rgb(222, 203, 239);
    background-color:blueviolet;
  }
  
  @media screen and (max-width: 768px) {
    .searchbarContainer {
      width: 250px;
    }
    .searchInput {
      font-size: 14px;
    }
    .creatorSelect,
    .genreSelect,
    .sortSelect,
    .resetButton {
      width: 75px;
      margin: 5px;
      font-size: 14px;
    }
  }